.post{
    margin: 20px;
    border: 1px solid rgb(240, 240, 240);
    padding: 20px;
}
.post__user__icon{
    width: 30px;
    height: 30px;
}
.post__data{

}
.post__authorname{

}
.post__publish__time{

}
.post__text{

}